<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-uxcam"
        version="3.6.2">

    <name>UXCam</name>
    <description>Cordova plugin for UXCam - enables the recording of your applications screen</description>
    <license>Commercial</license>
    <keywords>UXCam, Analytics, Screen capture, screen recording</keywords>

    <engines>
        <engine name="cordova-android" version=">=7.0.0"/>
    </engines>

    <js-module src="www/UXCam.js" name="UXCam">
        <clobbers target="UXCam"/>
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UXCam">
                <param name="android-package" value="com.uxcam.cordova.UXCam"/>
            </feature>
        </config-file>
        <framework src="src/android/uxcam-plugin.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/UXCam.java" target-dir="src/com/uxcam/cordova" custom="true"/>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UXCam">
                <param name="ios-package" value="CDVUXCam"/>
            </feature>
        </config-file>

        <!-- Source for our iOS plugin -->
        <header-file src="src/ios/CDVUXCam.h"/>
        <source-file src="src/ios/CDVUXCam.m"/>

        <!-- Add in the UXCam framework -->
        <framework src="src/ios/UXCam.xcframework" custom="true"/>

        <!-- and the system frameworks that UXCam depends on -->
        <framework src="CoreTelephony.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreMedia.framework"/>
        <framework src="CoreVideo.framework"/>
        <framework src="MobileCoreServices.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="Security.framework"/>
        <framework src="Foundation.framework"/>
        <framework src="ExternalAccessory.framework"/>
        <framework src="libz.dylib"/>
        <framework src="libc++.dylib"/>
        <framework src="libiconv.dylib"/>
    </platform>
</plugin>

